:root {
    --blue:#1F4CFF;
    --pink: #e7068a;
    --off-white: #EBECF0;

    --background: var(--off-white);
    --button: var(--background);
    --scrollbar: var(--blue);
    --selection: var(--blue);
    --paragraph: black;

    --inner-shadow: inset -5px -5px 4px #FFFFFF, inset 3px 3px 10px #A8B1D6;
    --drop-shadow: -5px -5px 5px #FFFFFF, 5px 5px 15px #A8B1D6;
}

html
{
    scroll-behavior: smooth;
}

body
{
    padding: 0px;
    margin: 0px;
    background-color: var(--background);
    color: var(--paragraph);

    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

.container
{
    min-height: 100vh;
    background-color: var(--background);
    margin: 0px;
    box-sizing: border-box;
}

.anchor
{
    min-height: 20px;
}

.sample
{
    box-shadow: var(--drop-shadow);
}

a
{
    width:fit-content;
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 50px;
    background: var(--button);
    box-shadow: var(--drop-shadow);
    margin-right: 20px;
    margin-bottom: 20px;
    white-space: nowrap;

    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: 1s;
    color: var(--pink);
}

a:hover
{
    transition: 0.25s;
    box-shadow: none;
}

a:active
{
    box-shadow: var(--inner-shadow);
    transform: translateY(2px);
    text-decoration: underline;
}

.square
{
    border-radius: 10px;
    max-height: 20px;
    max-width: 20px;
}

.icon
{
    height: 16px;
    width: 16px;
}

.navigation
{
    margin-top: 5h;
    line-height: 75px;
}

h1
{   
    font-size: 30px;
    color: var(--blue);
    margin: 0px;
}

h2
{
    font-size: 25px;
    margin-bottom: 0px;
}

h3
{
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
}


.column
{
    display: grid;

    max-width: 50vw;
    max-height: 100vh;
    background-color: transparent;

    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 15vw;
}

.section
{
    margin-top: 5vh;
    margin-bottom:10vh;
    max-width: 50vw;
    margin-left: 15vw;
}

.project
{
    display: grid;
    grid-template-columns: 35vw 35vw;
    column-gap: 3vw;
}

.project-card
{
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.image
{
    border-radius: 10px;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.chip
{
    display: inline-block;
    width:fit-content;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 50px;
    background: var(--pink);
    margin-top: 20px;
    margin-right: 10px;
    white-space: nowrap;
    color: var(--off-white);

    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    user-select: none;
}

#filters
{
    margin-top: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 50px;
}

#filters a
{
    padding: 10px 20px;
}

#filters a:active
{
    text-decoration: none;
}

.selected
{
    box-shadow: var(--inner-shadow);
}

.selected:hover
{
    box-shadow: var(--inner-shadow);
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}



::selection {
    background: var(--selection); /* WebKit/Blink Browsers */
    color: var(--background);
  }
::-moz-selection {
    background: var(--selection); /* Gecko Browsers */
    color: var(--background);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #888;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}