:root {
    --blue:#1F4CFF;
    --background: #131313;

    --pink: #e7068a;
    --scrollbar: var(--pink);
}

html
{
    scroll-behavior: smooth;
}

body
{
    padding: 0px;
    margin: 0px;
    background-color: var(--background);
    color: #000000;

    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

.container
{
    height: 100vh;
    background-color: var(--background);
    margin: 0px;
    box-sizing: border-box;
}

a
{
    position: relative;
    width:fit-content;
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 50px;
    background: var(--background);
    border: 3px solid var(--pink);
    margin-top: 20px;
    margin-right: 20px;

    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

a:hover
{
    top: -5px;
    font-style: italic;
}

a:active {
    text-decoration: underline;
}

#navigation
{
    margin-top: 10vh;
}

#button-uiux
{
    color: var(--pink);
}

h1
{   
    font-size: 30px;
    color: var(--blue);
    margin: 0px;
}

h2
{
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
}


.column
{
    display: grid;

    max-width: 50vw;
    max-height: 100vh;
    background-color: transparent;

    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 15vw;
}

::selection {
    background: var(--blue); /* WebKit/Blink Browsers */
    color: var(--background);
  }
::-moz-selection {
    background: var(--blue); /* Gecko Browsers */
    color: var(--background);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    background: #888;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}