@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html
{
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-color: $background;
    color: black;

    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

h1
{   
    font-family: 'League Gothic', sans-serif;
    font-size: $fs-600;
    color: $blue;
    margin: 0px;
}

h2
{
    font-size: $fs-500;
    margin-bottom: 0px;
}

p
{
    font-size: $fs-400;
    font-weight: normal;
}

br
{
    display: block;
    content: "";
    margin-top: 0;
}

br.small
{
    min-height: 3vh;
}

br.large
{
    min-height: 10vh;
}

br.xl
{
    min-height: 35vh;
}

footer
{
    margin-top: 15vh;
    margin-bottom: 10vh;
    max-width: 85vw;
    margin-left:auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img
    {
        border-radius: 0px;
    }
}

.link
{
    border-bottom: 2px solid $pink;
    padding-bottom: 0px;
    font-size: $fs-400;
    text-decoration: none;
    color: $pink;
    transition: 0.25s;

    &:hover
    {
        border-bottom: 2px solid $pink;
        padding-bottom: 3px;
        transition: 0.25s;
    }
}

.bluemode
{
    .link
    {
        color: $off-white;
        border-bottom: 2px solid $off-white;

        &:hover
        {
            border-bottom: 2px solid $off-white;
        }
    }
}

.button
{
    width:fit-content;
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 50px;
    background: $button;
    box-shadow: $drop-shadow;
    margin-right: 20px;
    margin-bottom: 20px;
    white-space: nowrap;

    font-weight: bold;
    font-size: $fs-400;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: 1s;
    color: $pink;

    &:hover
    {
        transition: 0.25s;
        box-shadow: none;
    }

    &:active 
    {
        box-shadow: $inner-shadow;
        transform: translateY(2px);
        text-decoration: underline;
    }
}

.navigation
{
    margin-top: 5h;
    line-height: 75px;
}

.square-button
{
    border-radius: 10px;
    max-height: 20px;
    max-width: 20px;
}

.img-icon
{
    height: 16px;
    width: 16px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
}

.slide-up
{   
    transform: translateY(30%);
    opacity: 0;
    transition: 1s;
}

.slide-up.active
{
    opacity: 1;
    transform: translateY(0%);
}

::selection {
    background: $selection;
    color: $background;
  }
::-moz-selection {
    background: $selection;
    color: $background;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #888;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: $scrollbar;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}