$blue:#1F4CFF;
$pink: #e7068a;
$off-white: #EBECF0;

$background: $off-white;
$button: $background;
$scrollbar: $blue;
$selection: black;

$inner-shadow: inset -5px -5px 4px #FFFFFF, inset 3px 3px 10px #A8B1D6;
$drop-shadow: -3px -3px 5px #FFFFFF, 5px 5px 10px #A8B1D6;