@import 'variables';
@import 'global';

.large
{
    font-size: $fs-xl;
}

img
{
    max-width: 35vw;
    border-radius: 10px;
}

.bluemode
{
    background-color: $blue;
    * 
    {
        color: $off-white;
    }
}

.left-space
{
    margin-left: 10vw;
}

.right-space
{
    margin-left: 55vw;
}

.section-break
{
    min-height: 10vh;
}

.columns
{
    display: flex;
    orientation: column;
}

.text-break
{
    min-height: 3vh;
}

.tight 
{
    max-width: 40vw;
}

.normal
{
    max-width: 60vw;
}

.wide
{
    max-width: 80vw;
}

.right
{
    text-align: right;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.text-center
{
    text-align: center;
}

.quote
{
    border-left: 1px solid $blue;
    padding-left: 20px;
    font-style: italic;
}

@mixin align-center
{
    display: flex;
    align-items: center;
}

.parallax_wrapper
{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;

    .parallax_group
    {
        position: relative;
        transform-style: preserve-3d;
        min-height: 100vh;

        .parallax_layer
        {
            position: absolute;
            inset: 0;
            @include align-center;
        }

        .base_layer
        {
            transform: translateZ(0);
            z-index: 2;
        }

        .top_layer
        {
            transform: translateZ(150px) scale(0.5);
            z-index: 1;
        }
    }

    .static
    {
        z-index: 0;
        @include align-center;
    }

    .nonstatic
    {
        z-index: 1;
    }
}

.parallax_wrapper
{
    display: block;
}

.not-parallax
{
    display: none;
}

@media (max-width: 991px){

    .parallax_wrapper
    {
        display: none;
    }

    .not-parallax
    {
        display: block;
    }

    .tight, .normal
    {
        max-width: 80vw;
    }

    img
    {
        max-width: 70vw;
    }
}