html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #EBECF0;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: 'League Gothic', sans-serif;
  font-size: clamp(4rem, 2.5vw, 6rem);
  color: #1F4CFF;
  margin: 0px;
}

h2 {
  font-size: clamp(1.8rem, 1vw, 2.2rem);
  margin-bottom: 0px;
}

p {
  font-size: clamp(1.2rem, 1vw, 1.5rem);
  font-weight: normal;
}

.slide-up {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.slide-up.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

::-moz-selection {
  background: black;
  color: #EBECF0;
}

::selection {
  background: black;
  color: #EBECF0;
}

::-moz-selection {
  background: black;
  color: #EBECF0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #888;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F4CFF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.large {
  font-size: clamp(3.5rem, 7vw, 10rem);
}

img {
  max-width: 35vw;
  border-radius: 10px;
}

.bluemode {
  background-color: #1F4CFF;
}

.bluemode * {
  color: #EBECF0;
}

.left-space {
  margin-left: 10vw;
}

.right-space {
  margin-left: 55vw;
}

.section-break {
  min-height: 10vh;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  orientation: column;
}

.text-break {
  min-height: 3vh;
}

.tight {
  max-width: 40vw;
}

.normal {
  max-width: 60vw;
}

.wide {
  max-width: 80vw;
}

.right {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.quote {
  border-left: 1px solid #1F4CFF;
  padding-left: 20px;
  font-style: italic;
}

.parallax_wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.parallax_wrapper .parallax_group {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  min-height: 100vh;
}

.parallax_wrapper .parallax_group .parallax_layer {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax_wrapper .parallax_group .base_layer {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 2;
}

.parallax_wrapper .parallax_group .top_layer {
  -webkit-transform: translateZ(150px) scale(0.5);
          transform: translateZ(150px) scale(0.5);
  z-index: 1;
}

.parallax_wrapper .static {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax_wrapper .nonstatic {
  z-index: 1;
}

.parallax_wrapper {
  display: block;
}

.not-parallax {
  display: none;
}

@media (max-width: 991px) {
  .parallax_wrapper {
    display: none;
  }
  .not-parallax {
    display: block;
  }
  .tight, .normal {
    max-width: 80vw;
  }
  img {
    max-width: 70vw;
  }
}
/*# sourceMappingURL=article.css.map */