@import 'variables';
@import 'global';

.large
{
    font-size: 6vw;
}

img
{
    max-width: 50vw;
    border-radius: 10px;
}

.bluemode
{
    background-color: $blue;
    * 
    {
        color: $off-white;
    }
}

.left-space
{
    margin-left: 10vw;
}

.section-break
{
    min-height: 10vh;
}

.columns
{
    display: flex;
    orientation: column;
}

.text-break
{
    min-height: 3vh;
}

.tight
{
    max-width: 60vw;
}

.wide
{
    max-width: 80vw;
}

.right
{
    text-align: right;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.text-center
{
    text-align: center;
}

.quote
{
    border-left: 1px solid $off-white;
    padding-left: 20px;
    font-style: italic;
}

.parallax_wrapper
{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;

    .parallax_group
    {
        position: relative;
        transform-style: preserve-3d;

        .parallax_layer
        {
            position: absolute;
            inset: 0;
        }

        .base_layer
        {
            transform: translateZ(0);
            z-index: 2;
        }

        .top_layer
        {
            transform: translateZ(150px) scale(0.5);
            z-index: 1;
        }
    }

    .static
    {
        z-index: 0;
    }

    .nonstatic
    {
        z-index: 1;
    }
}

@media (max-width: 991px){
    .large
    {
        font-size: 60px;
    }

    .tight
    {
        max-width: 80vw;
    }

    img
    {
        max-width: 70vw;
    }
}