html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #EBECF0;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: 'League Gothic', sans-serif;
  font-size: 60px;
  color: #1F4CFF;
  margin: 0px;
}

h2 {
  font-size: 25px;
  margin-bottom: 0px;
}

p {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.container {
  min-height: 100vh;
  background-color: #EBECF0;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.anchor {
  min-height: 20px;
}

a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px 15px 25px;
  border: none;
  border-radius: 50px;
  background: #EBECF0;
  -webkit-box-shadow: -3px -3px 5px #FFFFFF, 5px 5px 10px #A8B1D6;
          box-shadow: -3px -3px 5px #FFFFFF, 5px 5px 10px #A8B1D6;
  margin-right: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: 1s;
  transition: 1s;
  color: #e7068a;
}

a:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a:active {
  -webkit-box-shadow: inset -5px -5px 4px #FFFFFF, inset 3px 3px 10px #A8B1D6;
          box-shadow: inset -5px -5px 4px #FFFFFF, inset 3px 3px 10px #A8B1D6;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  text-decoration: underline;
}

.img-container {
  position: relative;
}

.img-container:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.square-button {
  border-radius: 10px;
  max-height: 20px;
  max-width: 20px;
}

.img-icon {
  height: 16px;
  width: 16px;
}

.navigation {
  margin-top: 5h;
  line-height: 75px;
}

.slide-up {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.slide-up.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.section {
  margin-top: 5vh;
  margin-bottom: 10vh;
  max-width: 50vw;
  margin-left: 15vw;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20vh;
  margin-left: 15vw;
  margin-right: 15vw;
}

.hero-text {
  min-width: 35vw;
}

.hero-image {
  display: block;
  max-width: 30;
  max-height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: auto;
}

.hero-title {
  min-height: 8vw;
  font-family: 'League Gothic', sans-serif;
  font-size: 8vw;
  line-height: 7vw;
  color: #1F4CFF;
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35vw 35vw;
      grid-template-columns: 35vw 35vw;
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
}

.project-card {
  margin-right: 40px;
  margin-top: 60px;
}

.project-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-card-title * {
  margin-bottom: 0px;
}

.project-card-title * p {
  font-size: 14px;
  text-align: right;
  line-height: 100%;
}

.project-image {
  border-radius: 10px;
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.education {
  background-color: #1F4CFF;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
}

.education h1, .education h3, .education p {
  color: #EBECF0;
}

.education-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education-image {
  max-width: 45vw;
  max-height: 45vw;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -15vw;
}

.contact-container {
  margin-top: 15vh;
  margin-bottom: 10vh;
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chip {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  border: none;
  border-radius: 50px;
  background: #e7068a;
  margin-top: 10px;
  margin-right: 5px;
  white-space: nowrap;
  color: #EBECF0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selected {
  -webkit-box-shadow: inset -5px -5px 4px #FFFFFF, inset 3px 3px 10px #A8B1D6;
          box-shadow: inset -5px -5px 4px #FFFFFF, inset 3px 3px 10px #A8B1D6;
}

.selected:hover {
  -webkit-box-shadow: inset -5px -5px 4px #FFFFFF, inset 3px 3px 10px #A8B1D6;
          box-shadow: inset -5px -5px 4px #FFFFFF, inset 3px 3px 10px #A8B1D6;
}

.unselectable {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-drag: none;
}

@media (max-width: 479) {
  .hero-title {
    font-size: 10vw;
  }
  .education-image {
    display: none;
  }
}

@media (max-width: 991px) {
  .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70vw;
        grid-template-columns: 70vw;
    -webkit-column-gap: 3vw;
            column-gap: 3vw;
  }
  .section {
    min-width: 70vw;
  }
  .education-container, .contact-container, .project-card-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .education-container > p {
    margin-top: 5px;
    text-align: right;
  }
  .contact-container {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .education-image {
    display: none;
  }
}

::-moz-selection {
  background: black;
  color: #EBECF0;
}

::selection {
  background: black;
  color: #EBECF0;
}

::-moz-selection {
  background: black;
  color: #EBECF0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #888;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F4CFF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=home.css.map */