@import 'variables';
@import 'global';

.container
{
    min-height: 100vh;
    background-color: $background;
    margin: 0px;
    box-sizing: border-box;
}

.anchor
{
    min-height: 20px;
}

.skills-wrapper
{
    margin-left: auto;
    margin-right: auto;
}

.skills-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 45px);
    column-gap: 4vw;
    text-align: center;
    justify-content: center;
    align-items: baseline;

    margin-left: 10vw;
    margin-right: 10vw;
}

.skill
{
    .img-icon
    {
        min-width: 45px;
        height: auto;
    }
}

.img-container {
    position: relative;
}
  
.img-container:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.section
{
    margin-top: 5vh;
    margin-bottom:10vh;
    max-width: 50vw;
    margin-left: 15vw;
}

.hero-container
{
    display: flex;
    align-items: center;
    margin-top: 15vh;
    margin-left: 15vw;
    margin-right: 15vw;
}

.hero-text
{
    min-width: 35vw;
}

.hero-image
{
    display:block;
    max-width:30;
    max-height:25vw;
    object-fit: cover;
    width: auto;
    height: auto;
}

.hero-title
{
    min-height: 8vw;
    font-family: 'League Gothic', sans-serif;
    font-size: 8vw;
    line-height: 7vw;
    color: $blue;
}

.project
{
    display: grid;
    grid-template-columns: 35vw 35vw;
    column-gap: 3vw;
}

.project-card
{
    margin-right: 40px;
    margin-top: 60px;
}

.project-image
{
    border-radius: 10px;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}


.bluemode
{
    background-color: $blue;
    * 
    {
        color: $off-white;
    }
}

.education
{
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
}

.education-container
{
    display: flex;
    justify-content: space-between;
}

.education-image
{
    max-width: 45vw;
    max-height: 45vw;
    object-fit: cover;
    width: auto;
    height: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -15vw;
}

.chip
{
    display: inline-block;
    width:fit-content;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 50px;
    background: $pink;
    margin-top: 10px;
    margin-right: 5px;
    white-space: nowrap;
    color: $off-white;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    user-select: none;
}

.selected
{
    box-shadow: $inner-shadow;
}

.selected:hover
{
    box-shadow: $inner-shadow;
}


@media (max-width: 479) {
    .education-image
    {
        display: none;
    }
}

@media (max-width: 991px){
    .project
    {
        display: grid;
        grid-template-columns: 70vw;
        column-gap: 3vw;
    }

    .section
    {
        min-width: 70vw;
    }

    .education-container, .contact-container, .project-card-title
    {
        flex-direction: column;
    }

    .education-container > p
    {
        margin-top: 5px;
        text-align: right;
    }

    .contact-container
    {
        max-width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    .education-image
    {
        display: none;
    }
}